<!--
* UNSW Kensington: Bedegal peoples
* UNSW Canberra: Ngunnawal people
* Sydney: Gadigal people
* ANU: Ngunnawal and Ngambri people
* MQ: Wallumattagal clan of the Dharug nation
* Monash: the people of the Kulin Nations
* USQ: Giabal and Jarowair peoples of the Toowoomba area
* UWA: Whadjuk Noongar people
 -->

<p class="footer-custom-content">
  The GALAH Survey uses the Anglo-Australian Telescope located on the traditional lands of the Gamilaraay people. Our members work on the unceded territories of the Bedegal, Gadigal, Ngunnawal and Ngambri, Giabal and Jarowair, and Whadjuk Noongar peoples, the Wallumattagal clan of the Dharug nation, and the people of the Kulin Nations.<p>
<p class="footer-custom-content">We acknowledge that sovereignty was never ceded, and pay our respects to elders past, present, and future.
</p>
<br/>
<p class="copyright text-muted">
  The GALAH Survey is supported by <a href="https://astro3d.org.au">The ARC Centre of Excellence for All Sky Astrophysics in 3 Dimensions (ASTRO 3D)</a>
</p>
